.contact-image {
   background: #fff;
   width: 550px;
}

.contact-email {
   background: #fff;
   text-align: center;
}

.contact-social {
   margin: 0 auto;
   text-align: center;
}

.contact-email > h1,
.contact-social > h1 {
   background: #fff;
   font-family: 'Montserrat', sans-serif;
   weight: 400 !important;
}

.margin-contact {
   margin-top: 50px;
}

.text {
   background: #fff;
   color: #13eba2;
   font-family: 'Satisfy', serif;
   font-size: 2.2rem;
   font-weight: regular;
   margin: 80px 0;
}

.italyc-text {
  color: #13eba2;
  font-family: 'Satisfy', serif;
  font-size: 2.7rem;
  font-weight: regular;
}

@media only screen and (max-width: 720px) {
   .contact-image {
      background: #fff;
      width: 370px;
   }

   .contact-social {
      background: #fff;
      margin: 0 auto;
      text-align: center;
      width: 100%;
   }

   .contact-social > h1 {
      background: #fff;
      text-align: center !important;
      width: 100%;
   }
}