.project-image {
   width: 500px;
   margin: 0 auto;
   padding: 50px 0;
}

.blue {
   color: #1b1a1f;
   font-family: 'Montserrat', sans-serif;
   font-size: 2rem;
   font-weight: 400;
   margin: 40px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
   .project-image {
      width: 370px;
      margin: 0 auto;
      padding: 50px 0;
   }

   .blue {
      color: #1b1a1f;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      margin: 40px 0;
   }
}
